<h2 class="admin-form-header"> Cohort: <%= @cohort.name %></h2>

<p class="admin-form">Course: <%= @cohort.course_name %></p>
<p class="admin-form">Start Date: <%= @cohort.start_date %></p>
<p class="admin-form">End Date: <%= @cohort.end_date %></p>
<p class="admin-form">Instructor: <%= @cohort.instructor_name %></p>
<p class="admin-form">Students: </p>


<hr>
<%= link_to "Edit", edit_cohort_path(@cohort), class: 'btn btn-primary', class: 'admin-form' %>
<%= link_to "Delete", cohort_path(@cohort), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger', class: 'admin-form-orange'%>