<h1 class="admin-form-header">New Student</h1>
<%= form_for :student, url: students_path do |f| %>
    <% if @student.errors.any? %>
        <% @student.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
    <p>
        <%= f.label(:first_name, class: 'admin-form') %><br>
        <%= f.text_field(:first_name, class: 'form-control') %>
    </p>
    <p>
        <%= f.label(:last_name, class: 'admin-form') %><br>
        <%= f.text_field(:last_name, class: 'form-control') %>
    </p>

    <p>
        <%= f.label(:date_of_birth, class: 'admin-form') %><br>
        <%= f.date_field(:d_o_b, class: 'admin-form') %>
    </p>

    <p>
        <%= f.label(:highest_education, class: 'admin-form') %><br>
        <%= f.text_field(:highest_ed, class: 'form-control') %>
    </p>

    <p>
        <%= f.label(:cohort_id, class: 'admin-form') %><br>
        <%= f.text_field(:cohort_id, class: 'form-control') %>
    </p>

    <p>
        <%= f.label(:course_id, class: 'admin-form') %><br>
        <%= f.text_field(:course_id, class: 'form-control') %>
    </p>

    <p>
        <%= f.submit(class: 'btn btn-primary', class: 'admin-form') %>
    </p>

    <% end %>