<h2> <%= @student.first_name %></h2>
<h2> <%= @student.last_name %></h2>

<p>Date of Birth: <%= @student.d_o_b %></p>
<p>Highest Completed Education: <%= @student.highest_ed %></p>


<hr>
<%= link_to "Edit", edit_instructor_path(@instructor), class: 'btn btn-default' %>
<%= link_to "Delete", instructor_path(@instructor), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>