<h2 class="admin-form"> <%= @student.first_name %></h2>
<h2 class="admin-form"> <%= @student.last_name %></h2>

<p class="body-text">Date of Birth: <%= @student.d_o_b %></p>
<p class="body-text">Highest Completed Education: <%= @student.highest_ed %></p>


<hr>
<%= link_to "Edit", edit_student_path(@student), class: 'btn btn-default', class: 'admin-form' %>
<%= link_to "Delete", student_path(@student), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>