<%= render 'shared/dashboard' %>


<h1 class="admin-form-header">Add Instructor</h1>
<%= form_for :instructor, url: instructors_path do |f| %>
    <% if @instructor.errors.any? %>
        <% @instructor.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
    <p>
        <%= f.label(:first_name, class: 'admin-form') %><br>
        <%= f.text_field(:first_name, class: 'form-control', ) %>
    </p>
    <p>
        <%= f.label(:last_name, class: 'admin-form') %><br>
        <%= f.text_field(:last_name, class: 'form-control') %>
    </p>

     <p>
        <%= f.label(:course_id, class: 'admin-form') %><br>
        <%= f.text_field(:course_id, class: 'form-control') %>
    </p>

     <p>
        <%= f.label(:cohort_ids, class: 'admin-form') %><br>
        <%= f.text_field(:cohort_ids, class: 'form-control') %>
    </p>

    <p>
        <%= f.label(:salary, class: 'admin-form') %><br>
        <%= f.text_field(:salary, class: 'form-control') %>
    </p>

    <p>
        <%= f.submit(class: 'btn btn-primary', class: 'admin-form') %>
    </p>

    <% end %>