<%= render 'shared/dashboard' %>


<p class="admin-form-header"> <%= @instructor.first_name %> <%= @instructor.last_name %></p><br>

<p class="admin-form">Course: <%= @instructor.course_id %></p>


<p class="admin-form">Total In-Course Hours: <%= @instructor.course.total_in_course_hours %></p>
<p class="admin-form">Cohort ID: <%= @instructor.cohort_id %></p>
<p class="admin-form">Salary: $<%= @instructor.salary %></p>



<hr>
<%= link_to "Edit", edit_instructor_path(@instructor), class: 'btn btn-primary', class: 'admin-form' %>
<%= link_to "Delete", instructor_path(@instructor), method: :delete, data: {confirm: 'Are you sure?'}, class: 'admin-form-orange'%>