<h2 class="admin-form"> <%= @instructor.first_name %></h2>
<h2 class="admin-form"> <%= @instructor.last_name %></h2>

<p class="body-text">Total In-Course Hours: <%= @course.total_in_course_hours %></p>

<hr>
<%= link_to "Edit", edit_instructor_path(@instructor), class: 'btn btn-default', class: 'admin-form' %>
<%= link_to "Delete", instructor_path(@instructor), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>