<%= render 'shared/dashboard' %>


<p class="admin-form"><%= link_to 'Students', students_path %></p>
<p class="admin-form"><%= link_to 'Instructors', instructors_path %></p>
<p class="admin-form"><%= link_to 'Courses', courses_path %></p>
<p class="admin-form"><%= link_to 'Cohorts', cohorts_path %></p>