<div class="top-line"></div>
    <div class="title-bar">
      <div class="symbols-one">⚒</div>
      <div class="header-one">school of </div>
      <div class="header-two">HARD KNOCKS</div>
      <div class="symbols-two">⚒</div>
    </div>
  <div class="header-thin-line"></div>
  <div class="header-top-line"></div>
    <div class="header-thin-line"></div>
    <div class="welcome-user">Welcome</div>
      <div class="header-thin-line"></div>

      <div class="header-top-line"></div>

    <div class="header-bottom-line"></div>

  <div class="body">
      <div class="navigation">
        <ul class="mainmenu">
          <li><a href="#">Home</a></li>
          <li><a href="">Students</a>
        <ul class="submenu">
          <li><%= link_to "Create New", new_student_path(@student) %> </li>
          <li><%= link_to "View All", students_path %></li>
        </ul>
        </li>
    
    <li><a href="">Instructors</a>
      <ul class="submenu">
        <li><%= link_to "Create New", new_instructor_path(@instructor) %></a></li>
        <li><%= link_to "View All", instructors_path %></li>
      </ul>
    </li>
    <li><a href="">Courses</a>
      <ul class="submenu">
        <li><%= link_to "Create New", new_course_path(@course) %></li>
        <li><%= link_to "View All", courses_path %></li>
      </ul>
    </li>
    <li><a href="">Cohorts</a>
      <ul class="submenu">
        <li><%= link_to "Create", new_cohort_path(@cohort) %></li>
        <li><%= link_to "View All", cohorts_path %></li>
      </ul>
    </li>
    <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %>  </li>

     </div>

    <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
 <div class="container">
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    </div>