


<div id="overall-header">
    <div class="top-line"></div>
        <div class="title-bar">
          <div class="symbols-one">⚒</div>
          <div class="header-one">school of </div>
          <div class="header-two">HARD KNOCKS</div>
          <div class="symbols-two">⚒</div>
    </div>
  
  <div class="header-thin-line"></div>
    <div class="header-top-line"></div>
      <div class="header-thin-line"></div>
        <div class="admin-form-menu">Administration Menu</div>
          <div class="header-thin-line"></div>
            <div class="header-top-line"></div>
              <div class="header-bottom-line"></div>

</div>

<div class="nav">
      <ul>
        <li>Students</a>
          <ul>
              <li><%= link_to "Create New", new_student_path(@student) %> </li>
              <li><%= link_to "View All", students_path %></li>
          </ul>
        </li>
        <li>Instructors</a>
          <ul>
              <li><%= link_to "Create New", new_instructor_path(@instructor) %></a></li>
              <li><%= link_to "View All", instructors_path %></li>
          </ul>
        </li>
        <li>Courses</a>
          <ul>
              <li><%= link_to "Create New", new_course_path(@course) %></li>
              <li><%= link_to "View All", courses_path %></li>
          </ul>
        </li>

        <li>Cohorts</a>
          <ul>
              <li><%= link_to "Create", new_cohort_path(@cohort) %></li>
              <li><%= link_to "View All", cohorts_path %></li>
          </ul>
        </li>
      </ul>
</div>




  