<!DOCTYPE html>
<html>
  <head>
    <title>Administration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <nav class="header">School of Hard Knocks</nav>
  <nav class="header-thin-line"></nav>
  <nav class="header-top-line"></nav>
    <nav class="header-thin-line"></nav>
    <div class="welcome-user">Welcome</div>
    <nav class="header-bottom-line"></nav>

  <div class="body">
 <nav class="navigation">
  <ul class="mainmenu">
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Students</a>
      <ul class="submenu">
        <li><a href="">Create</a></li>
        <li><a href="">Edit</a></li>
        <li><a href="">Show All</a></li>
      </ul>
    </li>
    <li><a href="">Instructors</a>
      <ul class="submenu">
        <li><a href="">Create</a></li>
        <li><a href="">Edit</a></li>
        <li><a href="">Show All</a></li>
      </ul>
    </li>
    <li><a href="">Courses</a>
      <ul class="submenu">
        <li><a href="">Create</a></li>
        <li><a href="">Edit</a></li>
        <li><a href="">Show All</a></li>
      </ul>
    </li>
    <li><a href="">Cohorts</a>
      <ul class="submenu">
        <li><a href="">Create</a></li>
        <li><a href="">Edit</a></li>
        <li><a href="">Show All</a></li>
      </ul>
    </li>
    <li><a href="">Contact us</a></li>
  </ul>
</nav>
   
    
    



 

<div class="container">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
