<!DOCTYPE html>
<html>
  <head>
    <title>Administration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
<div class="admin-display">
    <p class="navbar-text pull-right">
<% if admin_signed_in? %>
  <p class="login-blue">Logged in as <%= current_admin.email %></p>  |
  <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'login-blue' %> |
  <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'login-orange'  %>
<% else %>
  <%= link_to "Sign up", new_admin_registration_path, :class => 'admin-form'  %> |
  <%= link_to "Login", new_admin_session_path, :class => 'admin-form'  %>
<% end %>
</p>
</div>
 <div class="container">
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


   <%= yield %>
    </div>

    </div>

 
   
  </body>
</html>

